@media (max-width: 480px) {
  /* Header */
  .header .inner-wrap {
    padding: 1rem 3rem;
    width: 95%;
  }

  .header .inner-wrap .inner-content {
    display: none;
  }

  .header .inner-wrap .inner-menu .menu-bar {
    display: block;
  }

  /* ---------- Banner ---------- */
  .banner .inner-wrap .inner-title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1.2px;
  }

  .banner .inner-wrap .desc {
    font-size: 1.2rem;
  }

  .banner-content .inner-wrap {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banner-content {
    margin-top: -15rem;
  }

  /* ---------- Blog Media ---------- */
  .blog-media .inner-blog {
    margin-bottom: 3rem;
  }

  .blog-media .inner-media {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .blog-media .inner-media .inner-desc {
    text-align: justify;
  }

  /* ---------- Contact ---------- */
  .contact .contact-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact .contact-wrap {
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  /* ---------- Header ---------- */
  .header .inner-wrap .inner-content {
    display: none;
  }

  .header .inner-wrap .inner-menu .menu-bar {
    display: block;
  }
}

@media (max-width: 998px) {
  /* ---------- Header ---------- */
  .header .inner-wrap .inner-content {
    display: none;
  }

  .header .inner-wrap .inner-menu .menu-bar {
    display: block;
  }

  /* ---------- Contact ---------- */
  .contact .row .contact-info p {
    max-width: unset;
  }
}

@media (max-width: 1200px) {
  /* ---------- Header ---------- */
  .header .inner-wrap .inner-content {
    display: none;
  }

  .header .inner-wrap .inner-menu .menu-bar {
    display: block;
  }
}
